/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 30, 2022, 7:13:30 PM
    Author     : kristinanikolic
*/

.header {
    height: 50px;
    width: 100%;
    background-color: lightblue;
    text-align: center;
}

.footer {
    width: 100%;
    background-color: lightblue;
    text-align: center;
}

h1 {
    font-weight: bold;
    font-size: 40px;
    color: darkblue;
}

h2 {
    font-weight: bold;
    font-size: 25px;
    color: darkblue;
}

h3 {
    font-weight: bold;
    font-size: 25px;
    color: darkblue;
}

h4 {
    font-weight: bold;
    color: darkblue;
    margin-bottom: 0;
    margin-top: 0;
}

table{
    width: 35%;
}

#podnaslov{
    height: 50px;
    width: 100%;
    background-color: darkred;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    padding-top: 15px;
}

#meni{
    width: 15%;
    height: 600px;
    background-color: darkblue  ;
    float: left;
    margin: 0;
    border-width: 0;
    color: white;
    font-size:16px;

}

#meni li a:link, #meni li a:visited{
    color: white;
    text-decoration: underline;
}

#meni a:link, #meni a:visited{
    color: white;
}

#naslov{
    font-size:30px;
    text-align: center;
    padding-left: 15px;
}

#sredina{
    background-color: white;
    height: 600px;
    text-align: center;
    margin: 0;
    border-width: 0;
}

iframe{
    width: 85%;
    background-color: white;
    height: 600px;
    text-align: center;
    margin: 0;
    border-width: 0;
}

.dugme{
    text-align: center;
    color: darkcyan;
    font-weight: bold;
}

.tabele{
    width: 80%;
    height:150px;
    margin-right: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    border: 1px solid lightblue;
    table-layout: fixed;
    text-align: center;
    vertical-align: center;
}

table{
    margin-bottom: 15px;
    margin-left: 5px;
    margin-right: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
}

#readOnly{
    background-color: lightgray;
}

.big{
    font-size:20px;
}

.formica1{
    border: 1px solid gray;
    width: 80%;
    margin-right: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.formica2{
    border: 1px dashed gray;
    width: 80%;
    margin-right: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
}

#centriraj{
    display: flex;
    flex-direction: row;
    justify-content: center;
    display: flex;
}

